$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Arimo|Trocchi|Abril+Fatface');

$font-arimo: 'Arimo', sans-serif;
$font-trocchi: 'Trocchi', serif;
$font-abril-fatface: 'Abril Fatface', cursive;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*Custom styling begins here*/
$background-color: #7ecdb5;
$text-color: #595959;
$text-secondary-color: #6c7160;
$line-color: #ecf46c;
$light-text-color: #ffffff;
$button-color: #c9e883;
body {
  background: $background-color;
}

/*signin page*/
.signin {
  padding: 10vh 6vw 10vh 6vw;

  a {
    text-decoration: none;
  }

  .app-icon {
    text-align: center;
  }

  .signin-inputs {
    .signin-input-element {
      padding-top: 5vh;
      img {
        height: 12vw;
        padding-bottom: 2vw;
        margin-right: 3vw;
      }
      input, input:active, input:focus, input:hover {
        border: none;
        box-shadow: none;
        font-family: $font-arimo;
        font-size: 5vw;
        color: $text-color;
        background: none;
        width: 75%;
        outline: none;
      }
      ::-webkit-input-placeholder {
        color: $text-color;
      }
      .underline {
        display: block;
        width: 100%;
        border: 1px solid $line-color;
      }
    }
  }

  .signin-button {
    text-align: center;
    button {
      margin-top: 5vh;
      width: 80%;
      height: 10vw;
      background: $background-color;
      border: 2px solid $line-color;
      border-radius: 18px;
      a {
        font-family: $font-trocchi;
        font-size: 5.625vw;
        font-weight: 600;
        color: $light-text-color;
      }
    }
  }

  p { 
    text-align: center;
    padding-top: 2vw;
    a {
    color: $text-color;
    font-size: 4.5vw;
    padding-top: 4vw;
    }
  }
}

/*home page*/

.home-page {
  padding: 6vh 6vh 10vh 6vh;
  a {
    text-decoration: none;
  }

  .welcome-text {
      text-align: center;
    span {
      font-family: $font-trocchi;
      color: $line-color;
      font-size: 8vw;
      font-weight: 800;
    }
  }

  p.username {
    font-family: $font-trocchi;
    font-size: 11vw;
    color: $text-color;
    text-align: center;
    margin: 0;
  }

  p.user-icon-image {
    text-align: center;
    img {
      height: 12vw;
    }
    margin: 0;
  }

  p.messaging {
    margin: 0;
    font-family: $font-trocchi;
    font-size: 5.625vw;
    font-weight: 600;
    text-align: center;
    color: $text-color;
    line-height: 1.2;
  }

  .button-elements {

    padding-top: 3vh;

    .your-score-button {
      width: 80vw;
    }

    .money-saved-button {
      width: 82vw;
    }

    .score-text {
      font-size: 10vw;
      color: $light-text-color;
    }

    .your-score-text {
      position: absolute;
      top: 52vh;
      left: 45vw;
    }

    .money-saved-text {
      position: absolute;
      top: 77.4vh;
      left: 40vw;
    }
  }

  p.info-text {
    font-family: $font-arimo;
    color: $text-secondary-color;
    font-size: 4vw;
    text-align: center;
  }
}

.savings-plan-page {
  padding: 10vh 6vh 10vh 6vh;

  span.description-text {
    text-align: center;
    font-size: 5.625vw;
  }

  input {
    display: block;
  }
}