$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Arimo|Trocchi');

$font-arimo: 'Arimo', sans-serif;
$font-trocchi: 'Trocchi', serif;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*Custom styling begins here*/
$background-color: #7ecdb5;
$text-color: #595959;
$line-color: #ecf46c;
$light-text-color: #ffffff;
body {
  background: $background-color;
}

.signin {
  padding: 10vh 6vw 10vh 6vw;

  .app-icon {
    text-align: center;
  }

  .signin-inputs {
    .signin-input-element {
      padding-top: 5vh;
      img {
        height: 12vw;
        padding-bottom: 2vw;
        margin-right: 3vw;
      }
      input, input:active, input:focus, input:hover {
        border: none;
        box-shadow: none;
        font-family: $font-arimo;
        font-size: 5vw;
        color: $text-color;
        background: none;
        width: 75%;
        outline: none;
      }
      ::-webkit-input-placeholder {
        color: $text-color;
      }
      .underline {
        display: block;
        width: 100%;
        border: 1px solid $line-color;
      }
    }
  }

  .signin-button {
    text-align: center;
    button {
      margin-top: 5vh;
      width: 80%;
      height: 10vw;
      font-family: $font-trocchi;
      font-size: 5.625vw;
      font-weight: 600;
      color: $light-text-color;
      background: $background-color;
      border: 2px solid $line-color;
      border-radius: 18px;
    }
  }

  p {
    color: $text-color;
    font-size: 4.5vw;
    text-align: center;
    padding-top: 4vw;
  }
}
